body, html {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-image: url(./assets/weather.jpeg);
  height: 100vh; 
  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}